html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  color-scheme: dark light;
}

/* body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
} */

/* Início teste */
body {
  max-width: 58.5rem;
  margin: 1rem auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  text-align: justify;
}
/* Fim teste */

.container {
  text-align: center;
  max-width: 100%;
  padding: 1.5rem;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  border: 0.1rem solid rgb(219, 216, 216);
  box-shadow: 0 0 1rem rgba(235, 233, 233, 0.5);
  border-radius: 0.3rem;
  padding: 1rem;
  width: 53rem;
}

h3,
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.dados-pessoais {
  display: flex;
  column-gap: 4rem;
  align-items: center;
  margin-bottom: 1rem;
  border: 0.1rem solid rgb(219, 216, 216);
  box-shadow: 0 0 1rem rgba(235, 233, 233, 0.5);
  border-radius: 0.3rem;
  padding: 1rem;
  width: 53rem;
}


.dados-residencia {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 3.5rem;
  flex-wrap: wrap;
  min-width: 850px;
  max-width: 850px;
  border: 0.25px solid rgb(219, 216, 216);
  box-shadow: 0 0 10px rgba(235, 233, 233, 0.5);
  border-radius: 5px;  margin: 5px 0;
  padding: 15px;
}


.dados-processo {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  column-gap: 3.5rem;
  flex-wrap: wrap;
  min-width: 850px;
  max-width: 850px;
  border: 0.25px solid rgb(219, 216, 216);
  box-shadow: 0 0 10px rgba(235, 233, 233, 0.5);
  border-radius: 5px;  margin: 5px 0;
  padding: 15px;
}

.local-data {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  column-gap: 3.5rem;
  flex-wrap: wrap;
  min-width: 850px;
  max-width: 850px;
  border: 0.25px solid rgb(219, 216, 216);
  box-shadow: 0 0 10px rgba(235, 233, 233, 0.5);
  border-radius: 5px;
  margin: 5px 0;
  padding: 15px;
}

.local-data-dec{
 margin-top: 4.5rem;
}

label {
  display: flex;
  font-size: 1.2rem;
  padding-right: 10px;
  margin-bottom: 0.2rem;
}

form input {
  display: inline-block;
  border: 1px solid #007acc9a;
  border-radius: 5px;
  margin: 0 0 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.botao {
  justify-self: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  background: #007acc;
  opacity: 1;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
}

.botao__disabled {
  opacity: 0.5;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.valor {
  margin-right: 1rem;
}

.container_dec {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
  margin: 1rem;
  text-align: justify;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container_dec {
  display: none;
}

.assinatura, .abono {
  margin-top: 4rem;
}

/* Estilos para dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    color: #e0e0e0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }

  input, select{
    background-color: #2d2d2d;
    color: #e0e0e0;
  }

  .titulo,.dados-pessoais, .dados-residencia,.dados-processo,.local-data{
    box-shadow: none;
  }
}


@media print {
  html {
    color-scheme: light;
  }

  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    box-shadow: none;
  }

  .titulo {
    border: none;
    box-shadow: none;
  }

  .container_dec {
    display: block;
  }
  .container {
    display: none;
  }
  @page {
    size: auto;
  }
}
